<div id= "heading" class="text-center mt-20 mb-10">
    <h1 class="text-4xl font-bold text-gray-900 ">Login</h1>
</div>
<%= form_with(url: login_path, scope: :session) do |form| %>
  <div class="max-w-xl mx-auto mt-6">
        <div class="mb-10">
            <%= form.label :email, style: "display: block",class: "block mb-2 text-2xl font-medium text-gray-900 dark:text-white" %>
            <%= form.email_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        
        <div class="mb-10">
            <%= form.label :password, style: "display: block" ,class: "block mb-2 text-2xl font-medium text-gray-900 dark:text-white" %>
            <%= form.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        
        <div class="flex justify-center mb-5">
            <%= form.submit "Log in" ,class: "font-bold text-center uppercase md:text-2xl py-3 px-6 rounded-lg bg-teal-700 text-white md:w-72 w-56"%>
        </div>
    </div>
<% end %>

  
<div class="mx-4 md:mx-0">
    <div class=" flex justify-center my-4">
        <%= link_to "Sign up", signup_path,class: "font-bold text-center uppercase md:text-2xl py-3 px-12 rounded-lg bg-gray-400 text-white w-72"%>
    </div>
</div>