<div id= "heading" class="text-center mt-20 mb-10">
    <h1 class="page-title ">Login</h1>
</div>
<%= form_with(url: login_path, scope: :session) do |form| %>
  <div class="max-w-xl mx-auto mt-6">
        <div class="mb-10">
            <%= form.label :email, style: "display: block",class: "form-label text-gray-900" %>
            <%= form.email_field :email, class: "form-text" %>
        </div>
        
        <div class="mb-10">
            <%= form.label :password, style: "display: block" ,class: "form-label text-gray-900" %>
            <%= form.password_field :password, class: "form-text" %>
        </div>
        
        <div class="flex justify-center mb-5">
            <%= form.submit "Log in" ,class: "form-submit bg-teal-700"%>
        </div>
    </div>
<% end %>

  
<div class="mx-4 md:mx-0">
    <div class=" flex justify-center my-4">
        <%= link_to "Sign up", signup_path,class: "form-submit bg-gray-400"%>
    </div>
</div>