<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="max-w-2xl mx-auto mt-3">
    <div class="mb-5">
      <%= form.label :name, style: "display: block",class: "form-label text-gray-900" %>
      <%= form.text_field :name, class: "form-text text-gray-900" %>
    </div>
    <div class="mb-5">
      <%= form.label :email, style: "display: block",class: "form-label text-gray-900" %>
      <%= form.email_field :email, class: "form-text text-gray-900" %>
    </div>
    <div class="mb-5">
      <%= form.label :password, style: "display: block",class: "form-label text-gray-900" %>
      <%= form.password_field :password, class: "form-text text-gray-900" %>
    </div>
    <div class="mb-5">
      <%= form.label :password_confirmation, style: "display: block",class: "form-label text-gray-900" %>
      <%= form.password_field :password_confirmation, class: "form-text text-gray-900" %>
    </div>
    
    <div class="flex justify-center">
      <%= form.submit class: "form-submit bg-teal-700 md:w-72 w-56"%>
    </div>
</div>
<% end %>
