<%= form_with(model: todo) do |form| %>
  <% if todo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="max-w-4xl mx-auto mt-3">
    <div class="mb-5">
      <%= form.label :title, style: "display: block",class: "block mb-2 text-2xl font-medium text-gray-900 dark:text-white" %>
      <%= form.text_field :title, class: "bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
    </div>
    
    <div class="my-10">
      <%= form.label :content, style: "display: block" ,class: "block mb-2 text-2xl font-medium text-gray-900 dark:text-white" %>
      <%= form.text_area :content, class: "bg-gray-50 border border-gray-300 text-gray-900 text-lg rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 h-36" %>
    </div>
    
    <div class="flex justify-center">
      <%= form.submit class: "font-bold text-center uppercase md:text-2xl py-3 px-6 rounded-lg bg-teal-700 text-white md:w-72 w-56"%>
    </div>
</div>
<% end %>
