<p style="color: green"><%= notice %></p>

<div id= "heading" class="text-center my-5">
  <h1 class="page-title">Share Todos</h1>
</div>


<% if @shared_todos.any? %>
    <div id="todos" class="md:grid grid-cols-3 md:mx-0 mx-4">
        <% @shared_todos.each do |todo| %>
            <div class="todo-container ">
                <div class="p-6">
                
                    <h5 class="todo-title">
                        <%= todo.title %>
                    </h5>
                    <p class="todo-content">
                        <%= todo.content %>
                    </p>
                    <% if todo.attachment.attached? %>
                    <p class="todo-attachment">
                        Attachment: <%= todo.attachment.filename %>
                    </p>
                    <% end %>
                    <p class="todoSharing-user">
                        Shared by: <%= todo.user.name %>
                    </p>
                </div>
            </div>
<% end %>
    </div>
<% else %>
    <div class="text-center my-10">
        <p class="md:text-4xl text-xl text-gray-900  ">No todos have been shared with you.</p>
    </div>
<% end %>