<p style="color: green"><%= notice %></p>

<div id= "heading" class="text-center my-5">
  <h1 class="page-title">Welcome <%= current_user.name.capitalize%></h1>
</div>

<div id="todos" class="md:grid grid-cols-3 md:mx-0 mx-4">
  <% @todos.each do |todo| %>
  <div class="todo-container"  >
    <div class="p-6" data-controller="hello">
      <h5 class="todo-title" data-hello-target="name"  data-action="click->hello#getUserName">
        <%= todo.title %>
      </h5>
      <p class="todo-content">
        <%= todo.content %>
      </p>
      <% if todo.attachment.attached? %>
      <p class="todo-attachment">
        Attachment: <%= todo.attachment.filename %>
      </p>
      <% end %>
    </div>
    <div class="p-6 pt-0">
      <%= link_to "Show this todo", todo, class:" form-submit align-middle text-sm my-3 bg-teal-700 text-white" %>
    </div>
  </div>
  <% end %>
</div>